.app {
  text-align: center;

  ul {
    list-style: none;

    padding: 30px;
    margin: 0;

    height: 100vh;
    overflow: auto;

    li {
      margin: 10px 0;
    }

    a {
      color: blue;
      font-weight: bold;

      text-decoration: none;
    }
  }
}
